body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

#buttons_header {
    border: 2px solid red;
    font-family: "Krona One", sans-serif;
    color: rgb(65, 168, 9);
    flex: 1;

    display: flex;
    align-items: center;
    gap: 70px;

    justify-content: center;

}


#container_principal{
    border: 2px solid black;

   
    height: 800px;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}



#container_secundario{
    border: 2px solid green;

    width: 60%;
    height: 600px;

    display: flex;
    justify-content: space-between;
    gap: 30px;

    padding-left: 10%;
    padding-right: 10%;

    
    

}

#imagen_producto img{
   
    border: 2px solid red;
    width: 300px;
    height: 300px;
    
    margin-top: 50px;
}


#Textbox_producto{
    border: 2px solid rgb(209, 0, 209);
    width: 50%;

    
}

#title_producto{
    border: 2px solid blue;
    font-family: "Krona One", sans-serif;
    font-size: 25px;
    text-align: center;
    height: 20%;
}

#descripcion_producto{
    margin-top: 3%;
    border: 2px solid orange;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;

    padding: 5%;

}
    