body {
    margin: 0;

}

header {
    background-image: url(iconos/Rectangle\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


#buttons_header {
    font-family: "Krona One", sans-serif;
    color: aliceblue;
    flex: 1;

    display: flex;
    align-items: center;
    gap: 70px;
    display: flex;
    justify-content: center;

}

#Portada {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(iconos/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

}


#Portada div #titulo {

    font-family: "Krona One", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

#Portada div {
    margin-left: 80px;
    margin-right: 80px;
}



/*-----------------------------------------------------------------------------------------*/

#Contenido_Principal {
    position: relative;


}

#rectangulo_container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid rgb(7, 60, 207);
    position: absolute;
    z-index: 9;
    row-gap: 20px;
}

#rectangulo_container2 {
    width: 100%;
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 20px;

    border: 2px solid rgb(207, 7, 177);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;


}

#rectangulo_container #rectangulo1 {
    width: 25%;
    height: 100px;
}

#rectangulo_container #rectangulo2 {
    width: 15%;
    height: 100px;

}

#rectangulo_container2 #rectangulo3 {
    width: 25%;
    height: 100px;

}

#rectangulo_container2 #rectangulo4 {
    width: 15%;
    height: 100px;

}







#Imformacion {
    height: 500px;
    border: 2px solid rgb(236, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#Imformacion #descripcion {
    width: 50%;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}




/*-----------------------------------------------------------------------------------------*/

#Mision_y_Vision {
    border: 2px solid black;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;

}



.card {
    width: 280px;
    height: 380px;
    perspective: 1000px;
    /* permite el efecto 3D */
    cursor: pointer;
    flex-shrink: 0;


}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.active .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "AR One Sans", sans-serif;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;

    box-sizing: border-box;
}

.card-back {

    background-color: #f0f0f0;
    transform: rotateY(180deg);

}

/*-----------------------------------------------------------------------------------------*/


#Imformacion2 {
    height: 600px;
    border: 2px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Imformacion2 #Subtitulo {
    border: 2px solid blue;
}

#Imformacion2 #primary_box {
    border: 2px solid orange;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

#primary_box .box_content {
    width: 25%;
    border: 2px solid purple;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    padding-left: 15px;
    padding-right: 15px;

    

    
}


.box_content img {
    width: 150px;
    height: 150px;
    border: 2px solid gray;
}




.textbox p{
    border: 3px solid black;
    border-radius: 20px;
    width: auto;
    height: 70px;

     font-family: "Krona One", sans-serif;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;
    
}

.textboxInfo{


    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: "AR One Sans", sans-serif;
}

/*-------------------------------------PIE DE PAGINA----------------------------------------------------*/

.footer-seguro {
    background-color: #007b25; 
    color: white;
    padding: 40px 0;
    font-family: "AR One Sans", sans-serif;
}

.footer-seguro .footer-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-seguro .footer-columna {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-seguro .footer-columna h3 {
    font-family: "Krona One", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-seguro .footer-columna a {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 14px;
}

.footer-seguro .footer-columna a:hover {
    color: white;
}

.footer-seguro .footer-redes {
    display: flex;
    gap: 10px;
}

.footer-seguro .footer-redes img {
    width: 24px;
    height: 24px;
}

.footer-seguro .footer-copy {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    opacity: 0.8;
}



