body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor_principal {
    display: flex;
    justify-content: center;
    width: 80%;
    
    
    border: 2px solid #000;
    background-color: #f9f9f9;
    padding: 20px;

}

/* Estilos para las tarjetas de productos(para archivo php) */  

.tarjeta_producto {
    width: 300px;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.tarjeta_producto h2 {
    margin: 0;
    font-size: 22px;
}

.tarjeta_producto p {
    margin: 8px 0;
    font-size: 16px;
}

.imagen_producto img {
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
