body {
    margin: 0;
    margin-top: 100px !important;
    background-color: #d2d2d2 !important;
    

   

}

header {
    background-image: url(iconos/Rectangle\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


}

header span {
    font-family: "Krona One", sans-serif;
    color: aliceblue;
    font-size: 13px;
    cursor: pointer;
}

#buttons_header {
    font-family: "Krona One", sans-serif;
    color: aliceblue;
    flex: 1;

    display: flex;
    align-items: center;
    gap: 50px;
    display: flex;
    justify-content: space-between;

    padding-left: 70px;
    padding-right: 70px;

    border: 2px solid black;

}

#Box_Button_Inicio {
    border: 2px solid red;
}

#Barra_busqueda {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid green;
    width: 500px;

}

#Barra_busqueda input {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
}

#Barra_busqueda button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#Box_Button_Otros {
    align-items: center;
    
    display: flex;
    gap: 70px;
}


#Box_Button_carrito {
    display: flex;
    align-items: center;
    gap: 10px;
}

#Box_Button_carrito img {
    width: 40px;
    height: 40px;
}

#Button_buscar img {
    width: 40px;
    height: 40px;
}


/* Estilos para los anuncios (para archivo php) */

#Box_Principal_Anuncios {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    row-gap: 20px;


}



.anuncio img {
    
    width: 100%;
    height: 50px;
    object-fit: contain;


}

/* Estilos para los productos (para archivo php) */

.carousel-item{
    border: 2px solid #000;
}


.carousel-item img{
    height: 400px;
}


#box_principal_productos {
    
    border: 2px solid purple;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

#box_principal_productos h3 {
    width: 100%;
    height: 25px;
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    border: #000 2px solid;
}





#box_principal_productos {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border: 2px solid #000;
    background-color: #f9f9f9;
    padding: 20px;

}

#Contenedor_productos{
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.tarjeta_producto {
    width: 300px;
    height: 400px;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ff0000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tarjeta_producto h2 {
    margin: 0;
    font-size: 22px;
}

.tarjeta_producto p {
    margin: 8px 0;
    font-size: 16px;
}

.imagen_producto img {
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}




/* Estilos para las tarjetas de categorias(para archivo php) */


#Box_Principal_Categorias{
    border: 2px solid orange;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

#Contenedor_Categorias{
    border: 2px solid brown;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta_categoria {
    width: 150px;
    height: 250px;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #00ff00;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta_categoria h4 {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.tarjeta_categoria img {
    border: 2px solid #000;
    width: 90px;
    height: 100px;
    border-radius: 8px;
}

#imagen_and_text {
   border: 2px solid purple;
   width: 100px;
   height: 180px;

   display: flex;
    flex-direction: column;
    align-items: center;
}


