.item-carrito {
    display: flex;
    border: 2px solid #ccc;
    gap: 30px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    justify-content: space-around;
  



    
}

.item-carrito img {
    border-radius: 6px;
}

.info-producto span {
    width: 100px;
    display: block;
    font-size: 14px;
}

.box_primary{
    display: flex;
    gap: 20px;
}



.acciones-producto{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.acciones-producto input{
    width: 50px;
    height: 25px;
    text-align: center;
}

.acciones-producto button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}